<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/appointment-slots.css">
    <title>Customize Appointment Slots</title>
</head>

<body>
    <form action="/appointments/customize-appointment-slots" method="post">
       
        <div class="select-times">
            <h2 class="main-h2">Customize Appointments</h2>

            <% if(message.length > 0 ){ %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
           <% } %>

            <div class="appointment-days" id="appointment-days">
                <div class="day-wrap">
                    <input type="radio" class="day" id="sunday" name="sunday">
                    <label for="sunday" class="day-label">Sunday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="monday" name="monday">
                    <label for="monday" class="day-label">Monday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="tuesday" name="tuesday">
                    <label for="tuesday" class="day-label">Tuesday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="wednesday" name="wednesday">
                    <label for="wednesday" class="day-label">Wednesday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="thursday" name="thursday">
                    <label for="thursday" class="day-label">Thursday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="friday" name="friday">
                    <label for="friday" class="day-label">Friday</label>
                </div>
                <div class="day-wrap">
                    <input type="radio" class="day" id="saturday" name="saturday">
                    <label for="saturday" class="day-label">Saturday</label>
                </div>
            </div>

            <button type="reset" class="reset-days" id="reset-days">Reset</button>

            <div class="select-duration">
                <h3 class="duration-header">Length</h3>
                <div class="duration-wrap">
                    <input type="number" class="length" id="length" min="10" max=" 90">
                    <label for="length" id="length-label">mins</label>
                </div>
            </div>

            <div class="buttons">
                <button type="button" class="btn" id="btn">+</button>
                <h3>Slots</h3>
                <button type="button" class="btn" id="btn-2">-</button>
            </div>
            <div class="container" id="container"></div>

            <div class="submit-buttons">
                <button type="submit" name="submit" class="submit">Submit</button>
                <button type="submit" name="next" class="submit">Skip</button>
            </div>
        </div>

        <input type="text" class="slots" id="slots" name="slots">

    </form>
    <script src="/appointment-slots.js"></script>
</body>

</html>