<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/chat-rooms.css">
    <title>Chat Rooms</title>
</head>
<body>
    <% if (rooms.length) { %>
        <h1 class="main-header">Chats</h1>
        <% rooms.forEach(room => { %>
         <form action="/chats/chat-rooms" method="post">
            <div class="container">
                <input type="text" name="room_id" id="room-id" class="room-id" value="<%= room.room_id %>">
                <h2 class="name"><%= room.name %></h2>
                <% if ((room.message).length) { %>
                    <h3 class="last-message"><%= room.sender %> : <%= room.message %></h3>
                <% } %>
                <button type="submit" class="btn">Message</button>
            </div>
         </form>
        <% }) %>
    <% } else{ %>
        <h1 class="no-chats">No Chats Available</h1>
    <% } %>

</body>
</html>