<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stk-push.css">
    <title>STK Push</title>
</head>
<body>

    <form action="/chats/consultation-stk-push" method="post">
        <% if(message.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
       <% } %>
        <h1>An STK Push has been sent to your phone.</h1>
        <h1>Please complete the payment and click Next to continue.</h1>
        <button type="submit" class="btn">Next</button>
    </form>
    
</body>
</html>