<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>Cancer Support System</title>
</head>
<body>

    <!-- ----Landing Page------ -->

    <div class="landing-body">
        <nav class="nav-bar" id="nav-bar">
            <img src="/icons/css-high-resolution-color-logo__1_-removebg-preview.png" alt="Logo" srcset="">
            <input type="checkbox" class="check" id="check">
            <label for="check" class="check-label"><span class="nav-icon"></span></label>
            <div class="menu">
                <ul class="menu-bar">
                    <li class="menu-items">
                        <a href="/appointments/view-appointments" class="appointments">Appointments</a>
                    </li>
                    <li class="menu-items">
                        <% if (unviewedMessages > 0) { %>
                            <h3 class="unviewed-messages"><%= unviewedMessages %></h3>
                        <% } %>
                        <a href="/chats/chat-rooms" class="consults">Consults</a>
                    </li>
                    <li class="menu-items" id="records-item">
                        <a href="/records" class="records">Records</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-items">
                                <a href="/records/payment-records" class="about-us">Payments</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="/records/appointment-records" class="doctors">Appointments</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="/records/consultation-records" class="sub-query">Consultations</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-items" id="pages-item">
                        <a href="" class="pages">Pages</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-items">
                                <a href="#about-body" class="about-us">About Us</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="#footer" class="contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-items">
                        <a href="/my-profile" class="account">My Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="landing-info" id="landing-info">
            <h3>Welcome to <span>CSS .  </span> We are dedicated to ensure that cancer patients in Kenya get access to quality and specialized medication from the best oncologists in the country.</h3>
            <a href="/appointments/view-all-appointments" class="appointment-btn">View All Appointments</a>
        </div>

    </div>


     <!-----------------About Us Page------------------>

    <div class="about-body" id="about-body">
        <h1>About Us</h1>
        <div class="about-wrap">
            <div class="about-img">
                <img src="/icons/pexels-ivan-samkov-4989167.jpg" alt="" srcset="">
            </div>
            <div class="about-text">
                <h4>The Cancer Support System is a system that boasts itself in connecting cancer patients to the best oncologists in the country. <br><br>The system enables our patients to make online bookings for physical appointments and also to have online consultations with their preferred oncologists.  <br><br>The oncologists have been verified to ensure quality treatment for our patients.  <br><br>Our patients are advised to make relationships with oncologists through physical appointments before having online consultations <br><br>Please send your feedback or inquiries through our email provided at the bottom of this page.</h4>
            </div>
        </div>
    </div>


   
    <footer class="footer-distributed" id="footer">

        <div class="footer-left">
  
            <img src="/icons/css-high-resolution-color-logo (1).png" alt="Logo" srcset="">
  
          <p class="footer-company-name">Cancer Support System © 2023</p>
        </div>
  
        <div class="footer-center">
  
          <div class="footer-details">
            <i class="fa fa-map-marker"></i>
            <p><span>Nairobi - </span> Kenya</p>
          </div>
  
          <div class="footer-details">
            <i class="fa fa-phone"></i>
            <p>+254 715 013 269</p>
          </div>
  
          <div class="footer-details">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:cssappkenya@gmail.com">cssappkenya@gmail.com</a></p>
          </div>
  
        </div>
  
  
        </div>
  
      </footer>
   



      <a href="#nav-bar" class="top">Top</a>


    <script src="/@glidejs/glide/dist/glide.min.js"></script>

    <script>
        const config = {
            type: 'carousel',
            // perView: 1,
            breakpoints:{
               800:{ perView: 1 },
               1000:{ perView: 2 },
               1800: { perView: 3 },
               2500: { perView: 4}
            }
        }
       new Glide('.glide', config).mount()
    </script>

    <script src="/script.js"></script>
    
</body>
</html>