<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Cancer Support System</title>
</head>
<body>

    <!-- ----Landing Page------ -->

    <div class="landing-body">
        <nav class="nav-bar" id="nav-bar">
            <img src="/icons/css-high-resolution-logo-black-on-white-background.png" alt="Logo" srcset="">
            <input type="checkbox" class="check" id="check">
            <label for="check" class="check-label"><span class="nav-icon"></span></label>
            <div class="menu">
                <ul class="menu-bar">
                    <li class="menu-items">
                        <a href="/appointments/view-appointments" class="appointments">Appointments</a>
                    </li>
                    <li class="menu-items">
                        <a href="/chats/chat-rooms" class="consults">Consults</a>
                    </li>
                    <li class="menu-items" id="pages-item">
                        <a href="" class="pages">Pages</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-items">
                                <a href="" class="about-us">About Us</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="doctors">Doctors</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="sub-query">Feedback</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-items">
                        <a href="/my-profile" class="account">My Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="landing-info" id="landing-info">
            <p>The <span>CSS </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quaerat molestiae ipsa numquam eos officia. Dolore veniam laudantium, soluta necessitatibus nesciunt ipsum. Distinctio incidunt nostrum ea perferendis qui quisquam ex itaque fugit necessitatibus fuga. Aspernatur voluptatum reiciendis sapiente nostrum iusto tempora dolores in quis, quisquam cupiditate itaque, sequi porro ullam.</p>
            <a href="/appointments/view-all-appointments" class="appointment-btn">View All Appointments</a>
        </div>

    </div>


     <!-----------------About Us Page------------------>

    <div class="about-body">
        <h1>About Us</h1>
        <div class="about-wrap">
            <div class="about-img">
                <video autoplay loop muted >
                    <source src="production ID_5199636.mp4" type="video/mp4">
                </video>
            </div>
            <div class="about-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quaerat voluptas expedita? Molestias, quis officia libero laudantium est iure suscipit aliquid eum, repellendus impedit quibusdam assumenda in harum exercitationem id corporis tenetur nam. Dolorum enim omnis veritatis in quidem rerum tenetur laudantium ipsam tempora. Ex deleniti repellendus, delectus beatae iste aspernatur dolor mollitia libero veritatis molestias eum alias quaerat ipsum dolore saepe soluta? Voluptates soluta laudantium maxime dicta totam minus aliquam distinctio, iste consequatur numquam officia tempore facilis ipsa consequuntur alias quas, eveniet aliquid quo accusamus. Rerum minima voluptate beatae eligendi consectetur fugiat nam! Quis nesciunt fugit perferendis assumenda corporis!</p>
            </div>
        </div>
    </div>


   
    <!-----------------Feedback Page------------------>



    <div class="feedback-body">
        <h1>Feedback</h1>
        <div class="feedback-wrap">
            <form action="">
                <textarea name="" class="feedback-area" id="feedback-area" cols="60" rows="15" placeholder="Enter Your feedback" required></textarea>
                <input type="submit" class="post-feedback" value="Post Feedback">
            </form>
            

        </div>
    </div>




    <button id="top" class="top">Top</button>


    <script src="/@glidejs/glide/dist/glide.min.js"></script>

    <script>
        const config = {
            type: 'carousel',
            // perView: 1,
            breakpoints:{
               800:{ perView: 1 },
               1000:{ perView: 2 },
               1800: { perView: 3 },
               2500: { perView: 4}
            }
        }
       new Glide('.glide', config).mount()
    </script>

    <script src="/script.js"></script>
    
</body>
</html>