<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>Cancer Support System</title>
</head>
<body>

    <!-- ----Landing Page------ -->

    <div class="landing-body">
        <nav class="nav-bar" id="nav-bar">
            <img src="/icons/css-high-resolution-logo-black-on-white-background.png" alt="Logo" srcset="">
        </nav>

        <div class="landing-info" id="landing-info">
            <p>The <span>CSS </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quaerat molestiae ipsa numquam eos officia. Dolore veniam laudantium, soluta necessitatibus nesciunt ipsum. Distinctio incidunt nostrum ea perferendis qui quisquam ex itaque fugit necessitatibus fuga. Aspernatur voluptatum reiciendis sapiente nostrum iusto tempora dolores in quis, quisquam cupiditate itaque, sequi porro ullam.</p>
            <a href="/login" class="appointment-btn">Login / Sign Up</a>
        </div>

    </div>


     <!-----------------About Us Page------------------>

    <div class="about-body">
        <h1>About Us</h1>
        <div class="about-wrap">
            <div class="about-img">
                <video autoplay loop muted >
                    <source src="production ID_5199636.mp4" type="video/mp4">
                </video>
            </div>
            <div class="about-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quaerat voluptas expedita? Molestias, quis officia libero laudantium est iure suscipit aliquid eum, repellendus impedit quibusdam assumenda in harum exercitationem id corporis tenetur nam. Dolorum enim omnis veritatis in quidem rerum tenetur laudantium ipsam tempora. Ex deleniti repellendus, delectus beatae iste aspernatur dolor mollitia libero veritatis molestias eum alias quaerat ipsum dolore saepe soluta? Voluptates soluta laudantium maxime dicta totam minus aliquam distinctio, iste consequatur numquam officia tempore facilis ipsa consequuntur alias quas, eveniet aliquid quo accusamus. Rerum minima voluptate beatae eligendi consectetur fugiat nam! Quis nesciunt fugit perferendis assumenda corporis!</p>
            </div>
        </div>
    </div>


    <footer class="footer-distributed">

        <div class="footer-left">
  
            <img src="/icons/css-high-resolution-color-logo (1).png" alt="Logo" srcset="">
  
          <p class="footer-company-name">Cancer Support System © 2023</p>
        </div>
  
        <div class="footer-center">
  
          <div class="footer-details">
            <i class="fa fa-map-marker"></i>
            <p><span>Nairobi - </span> Kenya</p>
          </div>
  
          <div class="footer-details">
            <i class="fa fa-phone"></i>
            <p>+254 715 013 269</p>
          </div>
  
          <div class="footer-details">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:cssappkenya@gmail.com">cssappkenya@gmail.com</a></p>
          </div>
  
        </div>
  
  
        </div>
  
      </footer>
   

    <button id="top" class="top">Top</button>

    <script src="/script.js"></script>
    
</body>
</html>