<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">

        <nav class="nav-bar">
            <h2>Login</h2>
        </nav>

        <div class="details-wrap">
            <input type="text" class="text" name="username" id="username" placeholder="Enter Username" minlength="10"  required>
        </div>

        <div class="details-wrap">
            <input type="password" class="text" name="password" id="password" placeholder="Enter Password" minlength="7" required>
        </div>

        <div class="details-wrap-2">
            <div class="links-wrap">
                <a href="/login/reset-password-or-username" class="link" id="forgot-password">Forgot Username/Password?</a>
            <a href="/login/create-account" class="link" id="register">Register?</a>

            </div>
        </div>

        <% if(message.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
       <% } %>
        <div class="buttons">
            <button  type="submit" class="button" id="login">Login</button>
            
        </div>
    </form>
    
    <script src="login.js"></script>
    
</body>
</html>