<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link
      data-minify="1"
      href="https://www.bacancytechnology.com/blog/wp-content/cache/min/1/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css?ver=1673506287"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/pay-consultation-fee.css">
    <title>Pay Consultation Fee</title>
</head>
<body>

    <form action="/chats/pay-consultation-fee" method="post">

        <% if(message.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
       <% } %>
       
        <h3 class="info">This consultation is a paid consultation. Please pay <%= consultationFee %> to continue with the consultation</h3>
        <div class="buttons">
            <button type="submit" class="btn" id="home" name="home">Homepage</button>
            <button type="submit" class="btn" id="view" name="view">View Mode</button>
            <button type="submit" class="btn" id="pay" name="pay">Pay</button>
        </div>
    </form>
    
</body>
</html>