<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link data-minify="1" href="https://www.bacancytechnology.com/blog/wp-content/cache/min/1/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css?ver=1673506287" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/reset-enter-email.css">
    <title>Enter OTP</title>
</head>
<body>
    <form action="/login/reset-enter-otp" method="post" id="form">
        <% if(message.length > 0 ){ %>
            <div class="alert alert-<%= messageType %>" role="alert">
                <%= message %>
            </div>
       <% } %>
       <h2>Please enter the OTP sent to your email address.</h2>
        <input type="text" name="otp" id="otp" class="text">
        <div class="buttons">
            <button type="submit" name="resend" class="btn">Resend OTP</button>
            <button type="submit" name="next" class="btn">Next</button>
        </div>
    </form>
</body>
</html>