<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stk-push.css">
    <title>STK Push</title>
</head>
<body>

    <form action="/appointments/stk-push" method="post">
        <h1>An STK Push has been sent to your phone.</h1>
        <h1>Please complete the payment and click Next to continue.</h1>
        <button type="submit" class="btn">Next</button>
    </form>
    
</body>
</html>