<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/input-number.css">
    <title>Input Number</title>
</head>
<body>
    <form action="/subscription/pay-subscription" id="form" method="post">

        <% if(message.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
       <% } %>

       <h2>Enter Mpesa number you wish to pay appointment fee from</h2>

        <input type="tel" name="number" class="text" id="number" placeholder="Enter Number" max="10" min="10">
        <button type="submit" class="btn" id="btn">Next</button>
    </form>

    <script>
         let btn = document.getElementById("btn");
        btn.addEventListener("click",()=>{
            btn.disabled = true;
            alert(`A notification will be sent to your phone to complete the payment.
            Make sure you have stable internet connection.  
            Please do not close this page`)
            document.getElementById("form").submit();
        })
    </script>
</body>
</html>