* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.nav-bar {
    width: 100%;
    padding-bottom: 20px;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.nav-bar .profile-pic{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
} */

.nav-bar .details-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.nav-bar .details-wrap h1 {
    margin-top: 20px;
    color: white;
    background-color: darkslategray;
    text-align: center;
}

.nav-bar .details-wrap p {
    margin-top: 10px;
    color: white;
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#table-form{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#mytable{
    width: 80%;
    margin: 40px auto;
    height: 400px;
    overflow-x: scroll;
}

#mytable2{
    width: 80%;
    margin: 40px auto;
    height: 400px;
    overflow-x: scroll;
}
#mytable3{
    width: 80%;
    margin: 40px auto;
    height: 400px;
    overflow-x: scroll;
}

.selected{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.selected-details{
    margin-left: 10px;
}

.booking-status{
    color: red;
    margin-bottom: 40px;
}



/* glide js */

.glide * {
    margin: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.buttons .button{
    background-color: darkslategray;
    color: white;
    width: 100px;
    height: 50px;
    margin: 0px 10px;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}

.text{
    display: none;
}