* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-wrap {
    width: 95%;
    max-width: 800px;
    height: 100%;
    box-shadow: 0 0 30px darkslategray;
    margin: 20px 0px;
}

.nav-bar {
    width: 100%;
    padding-bottom: 20px;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.nav-bar .profile-pic{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
} */

.nav-bar .details-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.nav-bar .details-wrap h1 {
    margin-top: 20px;
    color: white;
    background-color: darkslategray;
    text-align: center;
}

.nav-bar .details-wrap p {
    margin-top: 10px;
    color: white;
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

form {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form h2 {
    color: darkslategray;
    margin-bottom: 60px;
}

form .date {
    width: 90%;
    max-width: 350px;
    height: 80px;
    margin-bottom: 100px;
    font-size: larger;
    padding-left: 15px;
}

form .time-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form .time-wrap .morning,
.after-morning,
.afternoon {
    height: 100%;
    width: 98%;
    margin-bottom: 30px;
    border: 2px solid lightgray;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
}

form .time-wrap .period {
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .4s ease;
}

form .time-wrap .periods {
    margin: 10px;
    overflow: hidden;
}

form .time-wrap .periods .time-radio {
    width: 40px;
}

form .time-wrap .label-head {
    display: block;
    font-size: large;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

form .time-wrap .check {
    display: none;
}

form .time-wrap .check-label {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

form .time-wrap .morning #morning-check:checked~.period {
    height: 80px;
}

form .time-wrap .after-morning #after-morning-check:checked~.period {
    height: 80px;
}

form .time-wrap .afternoon #afternoon-check:checked~.period {
    height: 80px;
}

form .time-wrap .check-label {
    cursor: pointer;
}

form .time-wrap .check-label .label-icon {
    display: block;
    width: 15px;
    height: 2px;
    background: black;
    margin-top: 13px;
    margin-left: 7px;
    position: relative;
    transition: .4s all ease;
}

form .time-wrap .check-label .label-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0px;
    transform: rotate(90deg);
    transition: .4s all ease;
}

form .time-wrap .morning #morning-check:checked~.check-label .label-icon {
    transform: rotate(-225deg);
}

form .time-wrap .after-morning #after-morning-check:checked~.check-label .label-icon {
    transform: rotate(-225deg);
}

form .time-wrap .afternoon #afternoon-check:checked~.check-label .label-icon {
    transform: rotate(-225deg);
}


form .morning::-webkit-scrollbar {
    background-color: white;
}

form .morning::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

form .after-morning::-webkit-scrollbar {
    background-color: white;
}

form .after-morning::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

form .afternoon::-webkit-scrollbar {
    background-color: white;
}

form .afternoon::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}



form .submit-btn {
    width: 120px;
    height: 60px;
    background-color: darkslategray;
    color: white;
    border: 2px solid transparent;
    margin: 70px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}