*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

form{
    width: 95%;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid dimgray;
}

.navbar{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: white;

}

.navbar a{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

.navbar a:hover{
    text-decoration: underline;
}

.messages-container{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 2px solid dimgray;
}

.message-div, .room-div{
    margin: 10px 0px;
}

.message-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.btn{
    width: 120px;
    height: 40px;
    border: 2px solid darkslategray;
    color: darkslategray;
    transition: all .3s ease;
}

.btn:hover{
    color: white;
    border-color: white;
    background-color: darkslategray;
}

#renew-btn{
    width: 120px;
    margin: 30px 0px;
}



.message-div{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0px 10px;
    padding: 20px;
}

.btn{
    width: 100px;
    height: 50px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    cursor: pointer;
    margin: 0px 10px;
}


.message{
    background-color: transparent;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: dimgray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.message-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: lightgray;
    margin-bottom: 20px; 
}




.send-message-div{
    align-self: flex-end;
    width: auto;
    max-width: 250px;
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
}

.send-name{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-bottom: 10px;
    background-color: lightgray;
}

.send-message-p{
    background-color: transparent;
    word-wrap: break-word;
    color: black;
    background-color: lightgray;
}

.send-time{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-top: 10px;
    background-color: lightgray;
}




.receive-message-div{
    align-self: flex-start;
    width: auto;
    max-width: 250px;
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px 10px 10px 0px;
}

.receive-name{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-bottom: 10px;
    background-color: lightgray;
}

.receive-message-p{
    background-color: lightgray;
    word-wrap: break-word;
    color: black;
}

.receive-time{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-top: 10px;
    background-color: lightgray;
}
