* {
    margin: 0;
    padding: 0;
}

body{
    background-color: ghostwhite;
}

form {
    width: 100%;
    background-color: ghostwhite;
}

#doctor-id{
    display: none;
}

.search-bar {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.search {
    width: 80%;
    height: 40px;
    max-width: 300px;
    padding-left: 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid darkslategray;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: ghostwhite;
}

.search-btn {
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid darkslategray;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: ghostwhite;
}

.search-btn:hover{
    border: 2px solid orange;
}

input:focus {
    outline: none !important;
    border-bottom:2px solid orange;
}

.heading {
    width: 100%;
    margin-top: 160px;
    text-align: center;
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    background-color: ghostwhite;
}

.doctors-list {
    width: 100%;
    margin-top: 40px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doctors-list .doctor-tab {
    position: relative;
    width: 90%;
    margin: 20px;
    box-shadow: 1px 2px 5px grey;;
    background-color: white;

}

.doctors-list .doctor-tab .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.doctor-tab .doctor-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
}

.doctor-tab .doctor-profile .id {
    display: none;
}

.doctor-tab .profile-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}

.doctor-tab .doctor-profile .name {
    margin-bottom: 20px;
    color: darkslategray;
    background-color: white;
}

.doctor-tab .doctor-profile p {
    width: 100%;
    text-align: center;
}

.doctor-tab .doctor-details {
    width: 100%;
    height: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    overflow-y: scroll;
    background-color: ghostwhite;
    color: white;
    padding: 0px 0px;
    transition: all .3s ease;
}

.doctor-tab .doctor-details p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.doctor-tab .doctor-details h4 {
    width: 100%;
    text-align: center;
    color: orange;
    margin-bottom: 10px;
    margin-top: 15px;
}


.check {
    display: none;
}

.check-label {
    position: absolute;
    right: 20px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.check-label .nav-icon {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 3px;
    background: black;
    position: relative;
    transition: all .3s ease-out;

}

.check-label .nav-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0px;
    rotate: 90deg;
}

.check:checked~.check-label .nav-icon {
    rotate: 225deg;
}

.check:checked~.container .doctor-details {
    height: 250px;
    background-color: whitesmoke;
    color: black;
}

.check:checked~.container .doctor-details::-webkit-scrollbar-thumb {
    background: darkgray;
}


.doctor-tab .doctor-details::-webkit-scrollbar {
    background-color: whitesmoke;
    border-radius: 10px;
}

.doctor-tab .doctor-details::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.buttons{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.book-btn{
    width: 150px;
    height: 60px;
    background-color: white;
    color: darkslategray;
    border-color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all .3s ease;
}

.book-btn:hover {
    border-color: white;
    color: white;
    background-color: darkslategray;
}