*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */

form{
    width: 95%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px darkslategray;
    margin: 100px 0px;
    padding-top: 80px;
}

form .details-wrap{
    width: 80%;
    margin-bottom: 40px;
}

form .details-wrap h3{
    color: darkslategray;
    margin-bottom: 30px;
}

form .email{
    border:2px solid dimgray;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 100%;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}

input:focus{
    outline: none !important;
    border-color: goldenrod;
}

form .buttons-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

form .buttons-wrap .button{
    margin: 30px 0px;
    width: 120px;
    height: 60px;
    background-color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border-color: white;
    color: white;
    cursor: pointer;
}
