*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    width: 95%;
    max-width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px darkslategray;
    margin: 20px 0px;
}


/* top-bar */

form .nav-bar{
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    background-color: darkslategray;
}

form .nav-bar h4{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    background-color: darkslategray;
    color: white;

}

/* details */

form .details-wrap{
    width: 90%;
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

form .details-wrap .cancer{
    width: 100%;
    height: 40px;
}

form .details-wrap .text{
    width: 100%;
    border: 2px solid darkslategray;
    padding-bottom: 10px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

input:focus{
    outline: none !important;
    border-color: goldenrod;
}

form .details-wrap h6{
    color: darkslategray;
    margin-bottom: 30px;
}

form .details-wrap .lifestyle-diseases{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 2px solid darkslategray;
}


form .buttons .button{
    margin-bottom: 60px;
    width: 120px;
    height: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: darkslategray;
    color: white;
    border-color: white;
    cursor: pointer;
}


