*{
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    padding: 40px 0px;
}

.pdf-name{
    display: none;
}

.no-records{
    color: dimgray;
}

ul{
    list-style: none;
}

.menu{
    width: 100px;
    transition: all .5s ease;
    height: 100vh;
    background-color: darkslategray;
    border: none;
    border-right: 2px solid lightgray;
    position: relative;
}


.menu:hover{
    width: 250px;
}

.menu:hover > .menu-items .item{
    display: block;
    flex: 1;
    line-height:80px;
}

.menu-items{
    width:100%;
}


.item-wrap{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    border: 2px solid transparent;
}

.item-wrap:hover{
    border-color: white;
}

.item{
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    text-align: center;
    display: none;
}

#selected{
    background-color: slategray;
}

.sub-menu-items:hover >a{
    border-color: white;
}

.sub-menu-1, .sub-menu-2{
    display: none;
}

#doctor-menu:hover >.sub-menu-1{
    display: block;
}

#payment-menu:hover >.sub-menu-2{
    display: block;
}

#doctor-menu, #payment-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: ghostwhite;
}

#my-profile{
    position: absolute;
    bottom: 20px;
}

.sub-item{
    text-decoration: none;
    display: block;
    width: 180px;
    line-height:80px;
    background-color: darkslategray;
    border: 1px solid transparent;
    color: white;
    text-align: center;
}


#icon{
    background-color: darkslategray;
}

.container{
    height: auto;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center safe;
    align-items: center;
    overflow-y: scroll;
    background-color: ghostwhite;
    padding: 40px 0px;
    gap: 70px;
}

form{
    align-self: flex-start;
    width: 100%;
    background-color: ghostwhite;
    border-bottom: 2px dashed dimgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.records{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text{
    width: 90%;
    max-width: 250px;
    border: none;
    border-bottom: 2px solid dimgray;
    font-size: large;
    padding: 10px 0px;
}

input:focus{
    outline: none !important;
}

table{
    width: 90%;
    background-color: white;
}

table, th, td{
    border: 1px solid dimgray;
    background-color: white;
}

th{
    text-align: left;
}
td, th{
 padding: 0px 10px;
}

.btn{
    padding: 15px 10px;
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
    font-size: medium;
    transition: all .3s ease;
    border-radius: 5px;
    cursor: pointer;
}


.btn:hover{
    background-color: darkslategray;
    color: white;
    border-color: white;
}